.cartContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
}
.cartIcon {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    
}
.cartCount {
    color: white;
    text-decoration: none;
    
}